

<!-- CONFIG -->
<ion-content scroll="false" class="has-header">
    <div class="config-spinner">
        <ion-spinner icon="spiral" class="spinner-positive"></ion-spinner>
        <h2 style="text-align:center;">{{ feedback }}</h2>
    </div>
</ion-content>