



<ion-view class="backgroundImage">
    <ion-content scroll="false" class="data-collection" id="DATACOLLECTION">
        <h4 class="storeWord">Home</h4>
        <div class="storeDetailsTitle data_collection">
            <h1 class="storeNAME">{{ storeNAME }} {{storeID}} </h1>
            
            <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;" class="button button-block button-calm" ng-click="backToDetails()">Back</button>

            <h3 style="float: right; margin-right: 30px">{{ currentmonthName }} {{ currDate }}</h3>

            <br style="clear:both;"></div>

        <div class="home-container" id="data-collection-accordion">

                <div class="section">
                    <div class="heading">
                        Information gérant
                    </div>


                    <div class="list">

                        <span  style="display:block !important;" class="input-label">&nbsp;&nbsp; Nom du gérant 1</span>
                        <label class="item item-input">
                            <input type="text" style="width:100% !important;" ng-model="data.manager.manager_01" required>
                        </label>

                         <span class="input-label">&nbsp;&nbsp; N° Tél gérant 1</span>
                        <label class="item item-input">
                            <input type="number" ng-model="data.manager.manager_01_phone" required>
                        </label>

                         <span class="input-label">&nbsp;&nbsp; Nom du gérant 2</span>
                        <label class="item item-input">
                            <input type="text" ng-model="data.manager.manager_02" required>
                        </label>

                        <span class="input-label">&nbsp;&nbsp; N° Tél gérant 2</span>
                        <label class="item item-input">
                            <input type="number" ng-model="data.manager.manager_02_phone" required>
                        </label>

                        <span class="input-label">&nbsp;&nbsp; Adresse du Point de Vente</span>
                        <label class="item item-input">
                            <textarea ng-model="data.manager.address" required></textarea>
                        </label>
                    </div>
                </div>

                <div class="section">

                    <div class="heading">
                        Caissier 01 
                    </div>
                    
                    <div class="list">

                            <span class="input-label">&nbsp;&nbsp; Nom du caissier 1</span>
                            <label class="item item-input">
                                <input type="text" ng-model="data.cashier_01.name" required>
                            </label>

                             <span class="input-label">&nbsp;&nbsp; N° Tél caissier 1</span>
                            <label class="item item-input">
                                <input type="number" ng-model="data.cashier_01.phone" required>
                            </label>

                            <span class="input-label">&nbsp;&nbsp; Email du caissier 11</span>
                            <label class="item item-input">
                                <input type="email" ng-model="data.cashier_01.emil" required>
                            </label>

                            <span class="input-label">&nbsp;&nbsp; Date naissance du caissier 1</span>
                            <label class="item item-input">
                                <input type="date" name="" ng-model="data.cashier_01.birthday" required/>
                            </label>
                    </div>
                </div>

                <div class="section">
                    <div class="heading">
                        Caissier 02 
                    </div>
                    
                    <div class="list">

                            <span class="input-label">&nbsp;&nbsp; Nom du caissier 2</span>
                            <label class="item item-input">
                                <input type="text" ng-model="data.cashier_02.name" required>
                            </label>

                            <span class="input-label">&nbsp;&nbsp; N° Tél du caissier 2</span>
                            <label class="item item-input">
                                <input type="number" ng-model="data.cashier_02.phone" required>
                            </label>

                             <span class="input-label">&nbsp;&nbsp; Email du caissier 2</span>
                            <label class="item item-input">
                                <input type="email" ng-model="data.cashier_02.emil" required>
                            </label>

                             <span class="input-label">&nbsp;&nbsp; Date naissance du caissier 2</span>
                            <label class="item item-input">
                                <input type="date" name="" ng-model="data.cashier_02.birthday" required/>
                            </label>
                    </div>
                </div>
                
                <div class="section">
                    <div class="heading">
                        Caissier 03 
                    </div>
                    
                    <div class="list">

                            <span class="input-label">&nbsp;&nbsp; Nom du caissier 3 </span>
                            <label class="item item-input">
                                <input type="text" ng-model="data.cashier_03.name" required/>
                            </label>

                            <span class="input-label">&nbsp;&nbsp; N° Tél du caissier 3</span>
                            <label class="item item-input">
                                <input type="number" ng-model="data.cashier_03.phone" required/>
                            </label>

                             <span class="input-label">&nbsp;&nbsp; Email du caissier 3</span>
                            <label class="item item-input">
                                <input type="email" ng-model="data.cashier_03.emil" required/>
                            </label>

                              <span class="input-label">&nbsp;&nbsp; Date naissance du caissier 3</span>
                            <label class="item item-input">
                                <input type="date" name="" ng-model="data.cashier_03.birthday"  id="dp" required/>
                            </label>
                    </div>
                </div>


            <button class="button button-full button-dark" ng-click="createContact(data)">
                Submit Info
            </button>

            <div class="clearfix"></div>
        </div>

    </ion-content>
</ion-view>