
<!-- PAST RESULTS -->
<ion-view cache-view="false" class="backgroundImage">
    <ion-content scroll="false">

        <h4 class="storeWord">Past Results</h4>
        <div class="storeDetailsTitle"> 
            <h1>{{ store.name }}</h1> 

            <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;" class="button button-block button-positive" ng-click="backToDetails()">Back</button>

            <h3 style="float: right; margin-right: 30px">{{ currentmonthName }} {{ currDate }}</h3>
            
            <br style="clear:both;">
        </div>

        <table cellpadding="0" cellspacing="0" border="0" class="stats-table">
            <thead>
            <tr class="font-bold">
                <td></td>
                <td>Jan </td>
                <td>Feb</td>
                <td>Mar</td>
                <td>Apr</td>
                <td>May</td>
                <td>Jun</td>
                <td>Jul</td>
                <td>Aug</td>
                <td>Sep</td>
                <td>Oct</td>
                <td>Nov</td>
                <td>Dec</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, val) in data['QUESTIONS']">
                <td>Question {{ key }}</td>
                <td ng-repeat="item in val track by $index">{{ item }}</td>
            </tr>
            <tr class="font-bold border-bottom">
                <td >Total points to date</td>
                <td ng-repeat="item in data['TOTALS'] track by $index">{{ item }}</td>
            </tr>
            </tbody>
        </table>

    </ion-content>
</ion-view>