
<!-- STORES -->
<div>
    <ion-view cache-view="false" class="backgroundImage">
        <ion-content scroll="false">
            <div class="stores-box">
                <div class="row">
                    <div class="col col-50_">
                        <h1>Choisissez votre Point de vente:</h1>                        
                    </div>
                    <!--<div class="col col-50">
                        <button class="button button-block button-positive"> Sync Info Now</button>
                    </div>-->
                </div>


                <div class="stores-container">
                    <div class="stores-search">
                        <input type="text" class="store-input" placeholder="Rechercher Point de vente" ng-model="searchText.$">
                    </div>
                    <ion-scroll class="stores-scroll" direction="y" has-bouncing="false">
                        <div class="stores-inner-container">
                            <ion-list>
                            <span>
                                <ion-item ng-repeat="store in stores | StoresFilter:searchText.$" class="store-item">
                                    <div class="list-store-name">#{{ store.id }} - {{ store.name }}</div>
                                    <button class="button button-positive list-store-button" ng-click="selectStore(store.name, store.id)">
                                        Voir
                                    </button>
                                </ion-item>
                            </span>
                            </ion-list>
                        </div>
                    </ion-scroll>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>
