
<!-- STORE SUMMARY -->
<ion-view cache-view="false" class="backgroundImage">
    <ion-content scroll="false">
        <div class="commentShadow shadow" ng-if="comment_modal == 'true'"></div>
        <div class="imageShadow shadow" ng-if="image_modal == 'true'"></div>

        <div class="modal commentModal" ng-if="comment_modal == 'true'">
            <h1 >Notes : </h1><button class="button-modal top button button-block button-positive" ng-click="commentModal('false')">Back</button>
            <textarea disabled="disabled" id="main_comment" placeholder="Write comment here" ng-model="commentvalue"></textarea>
        </div>

        <div class="modal imageModal" ng-if="image_modal == 'true'">
            <h1>Image : </h1><button class="button-modal top button button-block button-positive" ng-click="imageModal('false')">Back</button>
            <div class="image_blocks" ng-if="current_image_store && current_image_store != ''" ng-repeat="(key, val) in current_image_store" style="background-image:url({{ val }})"></div>
            <div id='main_image2' style="background-image:url('img/placeholder.png');" ng-hide="current_image_store && current_image_store != ''"></div>
        </div>

        <div class="storeTitle"> <h1>Summary</h1> <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;" class="button button-block button-positive" ng-click="backToHome()">Back</button><button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;margin-right: 15px;" class="button button-block button-positive" ng-if="layout.store.call_status != 'Terminé'" ng-click="goToQ()">Continue</button> <br style="clear:both;"></div>


        <ion-scroll class="questions-scroll" direction="y" has-bouncing="false">
            <table cellpadding="0" cellspacing="0" border="0" class="summary-table">
                <thead>
                <tr class="font-bold">
                    <td>Question</td>
                    <td>Visit 1</td>
                    <td>Visit 2</td>
                    <td>Visit 3</td>
                    <td>Visit 4</td>
                    <td>Pts.</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1. 100% Portfolio</td>
                    <td>
                        <ion-radio ng-disabled="DV1" name="1" ng-model="page.currentStats[currentYear][currentMonth]['1'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1" name="1" ng-model="page.currentStats[currentYear][currentMonth]['1'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1" name="1" ng-model="page.currentStats[currentYear][currentMonth]['1'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '1', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '1', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="2" ng-model="page.currentStats[currentYear][currentMonth]['1'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="2" ng-model="page.currentStats[currentYear][currentMonth]['1'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="2" ng-model="page.currentStats[currentYear][currentMonth]['1'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '1', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '1', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="3" ng-model="page.currentStats[currentYear][currentMonth]['1'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="3" ng-model="page.currentStats[currentYear][currentMonth]['1'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="3" ng-model="page.currentStats[currentYear][currentMonth]['1'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '1', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '1', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="4" ng-model="page.currentStats[currentYear][currentMonth]['1'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="4" ng-model="page.currentStats[currentYear][currentMonth]['1'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="4" ng-model="page.currentStats[currentYear][currentMonth]['1'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '1', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '1', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['1'].POINTS }}</td>
                </tr>
                <tr>
                    <td>2. Planogramme type</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="5" ng-model="page.currentStats[currentYear][currentMonth]['2'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="5" ng-model="page.currentStats[currentYear][currentMonth]['2'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="5" ng-model="page.currentStats[currentYear][currentMonth]['2'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '2', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '2', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="6" ng-model="page.currentStats[currentYear][currentMonth]['2'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="6" ng-model="page.currentStats[currentYear][currentMonth]['2'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="6" ng-model="page.currentStats[currentYear][currentMonth]['2'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '2', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '2', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="7" ng-model="page.currentStats[currentYear][currentMonth]['2'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="7" ng-model="page.currentStats[currentYear][currentMonth]['2'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="7" ng-model="page.currentStats[currentYear][currentMonth]['2'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '2', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '2', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="8" ng-model="page.currentStats[currentYear][currentMonth]['2'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="8" ng-model="page.currentStats[currentYear][currentMonth]['2'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="8" ng-model="page.currentStats[currentYear][currentMonth]['2'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '2', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '2', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['2'].POINTS }}</td>
                </tr>
                <tr>
                    <td>3. Nouveautés references</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="9" ng-model="page.currentStats[currentYear][currentMonth]['3'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="9" ng-model="page.currentStats[currentYear][currentMonth]['3'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="9" ng-model="page.currentStats[currentYear][currentMonth]['3'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '3', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '3', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="10" ng-model="page.currentStats[currentYear][currentMonth]['3'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="10" ng-model="page.currentStats[currentYear][currentMonth]['3'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="10" ng-model="page.currentStats[currentYear][currentMonth]['3'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '3', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '3', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="11" ng-model="page.currentStats[currentYear][currentMonth]['3'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="11" ng-model="page.currentStats[currentYear][currentMonth]['3'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="11" ng-model="page.currentStats[currentYear][currentMonth]['3'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '3', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '3', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="12" ng-model="page.currentStats[currentYear][currentMonth]['3'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="12" ng-model="page.currentStats[currentYear][currentMonth]['3'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="12" ng-model="page.currentStats[currentYear][currentMonth]['3'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '3', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '3', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['3'].POINTS }}</td>
                </tr>
                <tr>
                    <td>4. Rupture</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="13" ng-model="page.currentStats[currentYear][currentMonth]['4'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="13" ng-model="page.currentStats[currentYear][currentMonth]['4'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="13" ng-model="page.currentStats[currentYear][currentMonth]['4'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '4', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '4', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="14" ng-model="page.currentStats[currentYear][currentMonth]['4'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="14" ng-model="page.currentStats[currentYear][currentMonth]['4'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="14" ng-model="page.currentStats[currentYear][currentMonth]['4'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '4', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '4', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="15" ng-model="page.currentStats[currentYear][currentMonth]['4'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="15" ng-model="page.currentStats[currentYear][currentMonth]['4'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="15" ng-model="page.currentStats[currentYear][currentMonth]['4'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '4', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '4', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="16" ng-model="page.currentStats[currentYear][currentMonth]['4'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="16" ng-model="page.currentStats[currentYear][currentMonth]['4'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="16" ng-model="page.currentStats[currentYear][currentMonth]['4'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '4', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '4', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['4'].POINTS }}</td>
                </tr>
                <tr>
                    <td>5. Prix à parité</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="17" ng-model="page.currentStats[currentYear][currentMonth]['5'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="17" ng-model="page.currentStats[currentYear][currentMonth]['5'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="17" ng-model="page.currentStats[currentYear][currentMonth]['5'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '5', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '5', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="18" ng-model="page.currentStats[currentYear][currentMonth]['5'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="18" ng-model="page.currentStats[currentYear][currentMonth]['5'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="18" ng-model="page.currentStats[currentYear][currentMonth]['5'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '5', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '5', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="19" ng-model="page.currentStats[currentYear][currentMonth]['5'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="19" ng-model="page.currentStats[currentYear][currentMonth]['5'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="19" ng-model="page.currentStats[currentYear][currentMonth]['5'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '5', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '5', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="20" ng-model="page.currentStats[currentYear][currentMonth]['5'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="20" ng-model="page.currentStats[currentYear][currentMonth]['5'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="20" ng-model="page.currentStats[currentYear][currentMonth]['5'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '5', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '5', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['5'].POINTS }}</td>
                </tr>
                <tr>
                    <td>6. Partage de Volume Industrie / PMR</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="21" ng-model="page.currentStats[currentYear][currentMonth]['6'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="21" ng-model="page.currentStats[currentYear][currentMonth]['6'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="21" ng-model="page.currentStats[currentYear][currentMonth]['6'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '6', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '6', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="22" ng-model="page.currentStats[currentYear][currentMonth]['6'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="22" ng-model="page.currentStats[currentYear][currentMonth]['6'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="22" ng-model="page.currentStats[currentYear][currentMonth]['6'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '6', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '6', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="23" ng-model="page.currentStats[currentYear][currentMonth]['6'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="23" ng-model="page.currentStats[currentYear][currentMonth]['6'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="23" ng-model="page.currentStats[currentYear][currentMonth]['6'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '6', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '6', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="24" ng-model="page.currentStats[currentYear][currentMonth]['6'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="24" ng-model="page.currentStats[currentYear][currentMonth]['6'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="24" ng-model="page.currentStats[currentYear][currentMonth]['6'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '6', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '6', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['6'].POINTS }}</td>
                </tr>
                <tr>
                    <td>7. Participation Staff Coaching</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="25" ng-model="page.currentStats[currentYear][currentMonth]['7'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="25" ng-model="page.currentStats[currentYear][currentMonth]['7'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="25" ng-model="page.currentStats[currentYear][currentMonth]['7'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '7', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '7', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="26" ng-model="page.currentStats[currentYear][currentMonth]['7'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="26" ng-model="page.currentStats[currentYear][currentMonth]['7'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="26" ng-model="page.currentStats[currentYear][currentMonth]['7'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '7', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '7', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="27" ng-model="page.currentStats[currentYear][currentMonth]['7'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="27" ng-model="page.currentStats[currentYear][currentMonth]['7'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="27" ng-model="page.currentStats[currentYear][currentMonth]['7'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '7', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '7', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="28" ng-model="page.currentStats[currentYear][currentMonth]['7'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="28" ng-model="page.currentStats[currentYear][currentMonth]['7'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="28" ng-model="page.currentStats[currentYear][currentMonth]['7'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '7', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '7', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['7'].POINTS }}</td>
                </tr>
                <tr>
                    <td>8. Succès Staff Coaching</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="29" ng-model="page.currentStats[currentYear][currentMonth]['8'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="29" ng-model="page.currentStats[currentYear][currentMonth]['8'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="29" ng-model="page.currentStats[currentYear][currentMonth]['8'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '8', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '8', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="30" ng-model="page.currentStats[currentYear][currentMonth]['8'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="30" ng-model="page.currentStats[currentYear][currentMonth]['8'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="30" ng-model="page.currentStats[currentYear][currentMonth]['8'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '8', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '8', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="31" ng-model="page.currentStats[currentYear][currentMonth]['8'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="31" ng-model="page.currentStats[currentYear][currentMonth]['8'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="31" ng-model="page.currentStats[currentYear][currentMonth]['8'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '8', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '8', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="32" ng-model="page.currentStats[currentYear][currentMonth]['8'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="32" ng-model="page.currentStats[currentYear][currentMonth]['8'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="32" ng-model="page.currentStats[currentYear][currentMonth]['8'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '8', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '8', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['8'].POINTS }}</td>
                </tr>
                <tr>
                    <td>9. Participation Education</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="33" ng-model="page.currentStats[currentYear][currentMonth]['9'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="33" ng-model="page.currentStats[currentYear][currentMonth]['9'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="33" ng-model="page.currentStats[currentYear][currentMonth]['9'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '9', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '9', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="34" ng-model="page.currentStats[currentYear][currentMonth]['9'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="34" ng-model="page.currentStats[currentYear][currentMonth]['9'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="34" ng-model="page.currentStats[currentYear][currentMonth]['9'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '9', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '9', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="35" ng-model="page.currentStats[currentYear][currentMonth]['9'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="35" ng-model="page.currentStats[currentYear][currentMonth]['9'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="35" ng-model="page.currentStats[currentYear][currentMonth]['9'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '9', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '9', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="36" ng-model="page.currentStats[currentYear][currentMonth]['9'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="36" ng-model="page.currentStats[currentYear][currentMonth]['9'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="36" ng-model="page.currentStats[currentYear][currentMonth]['9'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '9', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '9', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['9'].POINTS }}</td>
                </tr>
                <tr>
                    <td>10. Succès Mistery Shopper</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="37" ng-model="page.currentStats[currentYear][currentMonth]['10'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="37" ng-model="page.currentStats[currentYear][currentMonth]['10'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="37" ng-model="page.currentStats[currentYear][currentMonth]['10'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '10', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '10', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="38" ng-model="page.currentStats[currentYear][currentMonth]['10'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="38" ng-model="page.currentStats[currentYear][currentMonth]['10'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="38" ng-model="page.currentStats[currentYear][currentMonth]['10'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '10', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '10', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="39" ng-model="page.currentStats[currentYear][currentMonth]['10'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="39" ng-model="page.currentStats[currentYear][currentMonth]['10'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="39" ng-model="page.currentStats[currentYear][currentMonth]['10'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '10', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '10', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="40" ng-model="page.currentStats[currentYear][currentMonth]['10'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="40" ng-model="page.currentStats[currentYear][currentMonth]['10'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="40" ng-model="page.currentStats[currentYear][currentMonth]['10'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '10', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '10', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['10'].POINTS }}</td>
                </tr>
                <tr>
                    <td>11. Succès Education</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="41" ng-model="page.currentStats[currentYear][currentMonth]['11'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="41" ng-model="page.currentStats[currentYear][currentMonth]['11'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="41" ng-model="page.currentStats[currentYear][currentMonth]['11'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '11', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '11', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="42" ng-model="page.currentStats[currentYear][currentMonth]['11'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="42" ng-model="page.currentStats[currentYear][currentMonth]['11'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="42" ng-model="page.currentStats[currentYear][currentMonth]['11'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '11', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '11', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="43" ng-model="page.currentStats[currentYear][currentMonth]['11'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="43" ng-model="page.currentStats[currentYear][currentMonth]['11'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="43" ng-model="page.currentStats[currentYear][currentMonth]['11'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '11', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '11', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="44" ng-model="page.currentStats[currentYear][currentMonth]['11'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="44" ng-model="page.currentStats[currentYear][currentMonth]['11'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="44" ng-model="page.currentStats[currentYear][currentMonth]['11'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '11', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '11', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['11'].POINTS }}</td>
                </tr>
                <tr ng-if="question_number != 11">
                    <td>12. Session formation caissiers effectuèe</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="45" ng-model="page.currentStats[currentYear][currentMonth]['12'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="45" ng-model="page.currentStats[currentYear][currentMonth]['12'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="45" ng-model="page.currentStats[currentYear][currentMonth]['12'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '12', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '12', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="46" ng-model="page.currentStats[currentYear][currentMonth]['12'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="46" ng-model="page.currentStats[currentYear][currentMonth]['12'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="46" ng-model="page.currentStats[currentYear][currentMonth]['12'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '12', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '12', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="47" ng-model="page.currentStats[currentYear][currentMonth]['12'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="47" ng-model="page.currentStats[currentYear][currentMonth]['12'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="47" ng-model="page.currentStats[currentYear][currentMonth]['12'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '12', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '12', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="48" ng-model="page.currentStats[currentYear][currentMonth]['12'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="48" ng-model="page.currentStats[currentYear][currentMonth]['12'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="48" ng-model="page.currentStats[currentYear][currentMonth]['12'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '12', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '12', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['12'].POINTS }}</td>
                </tr>
                <tr ng-if="question_number != 11">
                    <td>13. Succès visiteur mystère</td>
                    <td>
                        <ion-radio ng-disabled="DV1"   name="49" ng-model="page.currentStats[currentYear][currentMonth]['13'].V1A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="49" ng-model="page.currentStats[currentYear][currentMonth]['13'].V1A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV1"   name="49" ng-model="page.currentStats[currentYear][currentMonth]['13'].V1A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'].V1I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '13', '1')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'].V1C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '13', '1')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV2"   name="50" ng-model="page.currentStats[currentYear][currentMonth]['13'].V2A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="50" ng-model="page.currentStats[currentYear][currentMonth]['13'].V2A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV2"   name="50" ng-model="page.currentStats[currentYear][currentMonth]['13'].V2A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'].V2I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '13', '2')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'].V2C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '13', '2')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV3"   name="51" ng-model="page.currentStats[currentYear][currentMonth]['13'].V3A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="51" ng-model="page.currentStats[currentYear][currentMonth]['13'].V3A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV3"   name="51" ng-model="page.currentStats[currentYear][currentMonth]['13'].V3A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'].V3I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '13', '3')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'].V3C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '13', '3')"></i>
                    </td>
                    <td>
                        <ion-radio ng-disabled="DV4"   name="52" ng-model="page.currentStats[currentYear][currentMonth]['13'].V4A" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="52" ng-model="page.currentStats[currentYear][currentMonth]['13'].V4A" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="DV4"   name="52" ng-model="page.currentStats[currentYear][currentMonth]['13'].V4A" ng-value="'na'">N/A</ion-radio>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'].V4I}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '13', '4')"></i>
                        <i ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'].V4C}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '13', '4')"></i>
                    </td>
                    <td>{{ page.currentStats[currentYear][currentMonth]['13'].POINTS }}</td>
                </tr>
                <tr>
                    <td>
                        <h3 class="questions-total">Total : {{ points }}</h3>
                    </td>
                    <td style="text-align:center;">{{ VisistPoints[0] }}</td>
                    <td style="text-align:center;">{{ VisistPoints[1] }}</td>
                    <td style="text-align:center;">{{ VisistPoints[2] }}</td>
                    <td style="text-align:center;">{{ VisistPoints[3] }}</td>
                </tr>
                </tbody>
            </table>
            <ion-scroll>
    </ion-content>
</ion-view>