
<!-- COMPETITORS -->
<ion-view cache-view="false" class="backgroundImage">
    <ion-content scroll="false">
        <div class="storeTitle">
            <h1>Competitors</h1>
            <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;" class="button button-block button-positive" ng-click="backToHome()">Back</button> <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;margin-right: 15px;" class="button button-block button-positive" ng-if="update == 1" ng-click="updateQ()">Update</button>

            <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;margin-right:15px;" class="button button-block button-positive" ng-if="change" ng-click="update_competitors()">Submit</button> <br style="clear:both;">
        </div>

        <ion-scroll class="questions-scroll" direction="y" has-bouncing="false">
            <table cellpadding="0" cellspacing="0" border="0" class="questions-table">
                <thead>
                <tr class="font-bold">
                    <td>Competitor</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, val) in competitors">
                    <td>{{ key }}. {{ val }}</td>
                    <td>
                        <i style="text-align:center;width:50%;" class="icon ion-ios-camera camera-icon" ng-click="showImageModal({{ key }})"></i>
                        <i style="text-align:center;width:50%;" class="icon ion-edit pencil-icon" ng-click="showCommentModal({{ key }})"></i>
                    </td>
                </tr>
                </tbody>
            </table>
            <ion-scroll>
    </ion-content>
</ion-view>