
<!-- LAYOUT -->

<ion-nav-view style="background-color:Transparent;" class="backgroundImage" animation="slide-left-right"  name="app">
    <ion-header-bar class="bar-positive">
        <button class="crumb-button" ng-repeat="crumb in layout.breadcrumbs" ng-class="{disabled: crumb.link == ''}" ng-click="crumbGo(crumb.link)">{{ crumb.title }}</button>

        <button class="signout" ng-click="logout()">Sign Out</button>
    </ion-header-bar>

    <ion-footer-bar  class="bar-positive">
        <span class="layout-version">{{ app_version }}</span>

        <i class="icon ion-wifi online " ng-class="{balanced : netstate == 'online', assertive : netstate == 'offline'}"></i>

        <span class="layout-name">Logged in as : {{ layout.user.name }}</span>
    </ion-footer-bar>
</ion-nav-view>