<!-- LOGIN -->
<ion-view style="background-color:#1A1A1A;" view-title="login" ng-enter="login()">
    <ion-pane style="background-color:#1A1A1A;">
        <img id="banerleft" src="img/bannerleft-01.png">
        <img id="banerright" src="img/bannerright-01.png">
        <div class="login-input-box col col-33 col-offset-33">
            <img id="login-logo" src="img/ionic.png">

            <label class="item item-input login-input">
                <input type="text" placeholder="Login ID" ng-model="data.login_id">
            </label>
            <label class="item item-input login-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <button class="button button-block button-positive loginbut" ng-click="login()">
                &nbsp;
            </button>
        </div>

        <h1 class="login-version">{{ app_version }}</h1>
    </ion-pane>
</ion-view>