
<!-- STORES DETAILS -->
<ion-view cache-view="false" class="backgroundImage">
    <ion-content has-bouncing="false" scroll="false" class="outlet-content">
        <h4 class="storeWord">Store</h4>
        <div class="storeDetailsTitle"> <h1>{{ store.name }}</h1> <h3 style="float:right">#{{ store.id }}</h3> <br style="clear:both;"></div>

        <div class="row months" >
            <div class="col" ng-class="{current: month == '1', behind: Statmonth == '1'}"> <span> Jan</span> </div>
            <div class="col" ng-class="{current: month == '2', behind: Statmonth == '1'}"> <span> Feb</span> </div>
            <div class="col" ng-class="{current: month == '3', behind: Statmonth == '3'}"> <span> Mar</span> </div>
            <div class="col" ng-class="{current: month == '4', behind: Statmonth == '4'}"> <span> Apr</span> </div>
            <div class="col" ng-class="{current: month == '5', behind: Statmonth == '5'}"> <span> May</span> </div>
            <div class="col" ng-class="{current: month == '6', behind: Statmonth == '6'}"> <span> Jun</span> </div>
            <div class="col" ng-class="{current: month == '7', behind: Statmonth == '7'}"> <span> Jul</span> </div>
            <div class="col" ng-class="{current: month == '8', behind: Statmonth == '8'}"> <span> Aug</span> </div>
            <div class="col" ng-class="{current: month == '9', behind: Statmonth == '9'}"> <span> Sep</span> </div>
            <div class="col" ng-class="{current: month == '10', behind: Statmonth == '10'}"> <span> Oct</span> </div>
            <div class="col" ng-class="{current: month == '11', behind: Statmonth == '11'}"> <span> Nov</span> </div>
            <div class="col" ng-class="{current: month == '12', behind: Statmonth == '12'}"> <span> Dec</span> </div>
        </div>

        <h3 class="storeDescriptiveTitle">Performance Dimensions to Date</h3>

        <div class="row responsive-lg_">
            <div class="col col-60" >
                <div style="position:relative">
                    <div class="row bar-legend" style="padding-left: 25px;">
                        <span class="your-score-shape"></span> Your Score
                        <span class="world-score-shape"></span> World Wide Score
                    </div>
                    <canvas id="bar"
                            class="chart chart-bar"
                            data="graph.data"
                            labels="graph.labels"
                            series='graph.series'
                            colours="graph.colours"
                            options="graph.options">
                    </canvas>
                    <h1 class="noAvailableMessage" ng-if="emptyGraph == '0' ">
                        No Data available for graph
                    </h1>
                </div>
            </div>

            <div class="col col-40" style="margin: 0 auto;">
                <div class="ranking-box">
                    <h6>Total Points </h6>
                    <h1>{{ totalPoints }}</h1>
                </div>

                <div class="buttons-box">
                    <button class="button button-block button-balanced" ng-click="pastResults()">Past Results</button>
                    <button class="button button-block action-button_ button-calm" ng-click="goToHome()">{{ store.call_status }}</button>
                </div>

                <div class="button-bar">
                    
                    <a  ng-click="takeStoreIMG()" style="background: #ccc; width: 140px; height: 100px;">
                        <img id="imgPlceHoldr" src="http://via.placeholder.com/140x100&text=Store">
                        <img style="display:none;" id="smallImage" src="" class="newIMG">
                    </a>
                     &nbsp;
                     <a  ng-click="takeFurnitureIMG()" style="background: #ccc; width: 140px; height: 100px;">
                        <img id="FimgPlceHoldr" src="http://via.placeholder.com/140x100&text=Store">
                        <img style="display:none;" id="FsmallImage" src="" class="FnewIMG">
                    </a>
                   
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>