
<!-- STORE HOME -->

<ion-view class="backgroundImage">
    <ion-content scroll="false">
        <h4 class="storeWord">Home</h4>
        <div class="storeDetailsTitle">
            <h1>{{ store.name }}</h1>
            <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;" class="button button-block button-calm" ng-click="backToDetails()">Back</button>

            <br style="clear:both;">
        </div>

        <div class="home-container">

            <!--<div class="sml-block btn-royal" ng-click="openModal(store.id)">Collecter les données</div>-->
            <div class="showCollectInfo_">
                <a ng-click="colectDATA(store)" class="sml-block btn-royal"  style="text-decoration: none;">Collecter les données</a>
            </div>
            
            
            <div class="sml-block" ng-click="getLocation()" ng-if="layout.store.position.LAT && layout.store.position.LAT != 'empty'">Store Location Captured </div>

            <div class="sml-block" ng-click="getLocation()" ng-if="!layout.store.position.LAT || (layout.store.position.LAT && layout.store.position.LAT === 'empty')">Magasin géolocalisé</div>

            <div class="sml-block" ng-if="layout.store.call_status != 'Terminé'" ng-click="goTo('app.storeQuestions')"><span style="text-transform:capitalize;"></span> Continuer La Visite</div>

            <div class="sml-block" ng-click="goTo('app.storeSummary')">Vue globale</div>

            <div class="sml-block" ng-click="goTo('app.competitor')" > Activités de la Concurrence</div>

            <br style="clear:both;">
        </div>

    </ion-content>
</ion-view>