
<!-- STORE QUESTIONS -->
<ion-view cache-view="false" class="backgroundImage">
    <ion-content scroll="true">
        <div class="commentShadow shadow" ng-if="comment_modal == 'true'"></div>
        <div class="imageShadow shadow" ng-if="image_modal == 'true'"></div>


        <div class="ionic-modal commentModal" ng-if="comment_modal == 'true'">

            <h1 >Notes : </h1><button class="button-modal top button button-block button-positive" ng-click="commentModal('false')">Back</button>
            <textarea id="main_comment" placeholder="Write comment here" ng-model="commentvalue"></textarea>
            <button ng-if="commentvalue && commentvalue != ''" class="button-modal top-2 button button-block button-positive" ng-click="submitCommentModal(commentvalue ,question_val, visit_val)">Submit</button>
        </div>


        <div class="ionic-modal imageModal" ng-if="image_modal == 'true'">

            <h1>Image : </h1><button class="button-modal top button button-block button-positive" ng-click="imageModal('false')">Back</button>

            <div class="image_blocks" ng-if="current_image_store && current_image_store != ''" ng-repeat="(key, val) in current_image_store" style="background-image:url({{ val }})"></div>
            
            <div class="image_blocks" style="background-image:url('img/placeholder.png');" ng-if="current_image_store && current_image_store != ''"  ng-click="takePicture(question_val, visit_val)"></div>
            
            <div id='main_image2' ng-click="takePicture(question_val, visit_val)" style="background-image:url('img/placeholder.png');" ng-hide="current_image_store && current_image_store != ''"></div>

            <button ng-if="imgSRC != 'img/placeholder.png'" class="button-modal bottom button button-block button-positive" ng-click="submitImageModal(question_val, visit_val)">Submit</button>
        </div>

        <div class="storeTitle">
            <h1>Questions</h1>
            
            <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;" class="button button-block button-positive" ng-click="backToHome()">Back</button>
            <h3 style="float: right; margin-right: 30px">{{ currentmonthName }} {{ currDate }}</h3>

            

            <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;margin-right: 15px;" class="button button-block button-positive" ng-if="update == 1" ng-click="updateQ()">{{ submision_text }}</button> 

            <button style="max-width: 150px;float: right;margin: 0;clear: inherit;margin-top: 5px;margin-right:15px;" class="button button-block button-positive" ng-if="submitMonth" ng-click="submit()">Submit Call</button> <br style="clear:both;"></div>

        <ion-scroll class="questions-scroll" direction="y" has-bouncing="false">
            <table cellpadding="0" cellspacing="0" border="0" class="questions-table">
                <thead>
                <tr class="font-bold">
                    <td>Question</td>
                    <td>Visit {{ visit }}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1. 100% Portfolio</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '1')" name="1" ng-model="page.currentStats[currentYear][currentMonth]['1'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '1')" name="1" ng-model="page.currentStats[currentYear][currentMonth]['1'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '1')" name="1" ng-model="page.currentStats[currentYear][currentMonth]['1'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '1', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['1'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '1', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>2. Planogramme type</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '2')" name="2" ng-model="page.currentStats[currentYear][currentMonth]['2'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '2')" name="2" ng-model="page.currentStats[currentYear][currentMonth]['2'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '2')" name="2" ng-model="page.currentStats[currentYear][currentMonth]['2'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '2', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['2'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '2', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>3. Nouveautés references</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '3')" name="3" ng-model="page.currentStats[currentYear][currentMonth]['3'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '3')" name="3" ng-model="page.currentStats[currentYear][currentMonth]['3'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '3')" name="3" ng-model="page.currentStats[currentYear][currentMonth]['3'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '3', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['3'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '3', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>4. Rupture</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '4')" name="4" ng-model="page.currentStats[currentYear][currentMonth]['4'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '4')" name="4" ng-model="page.currentStats[currentYear][currentMonth]['4'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '4')" name="4" ng-model="page.currentStats[currentYear][currentMonth]['4'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '4', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['4'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '4', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>5. Prix à parité</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '5')" name="5" ng-model="page.currentStats[currentYear][currentMonth]['5'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '5')" name="5" ng-model="page.currentStats[currentYear][currentMonth]['5'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '5')" name="5" ng-model="page.currentStats[currentYear][currentMonth]['5'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '5', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['5'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '5', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>6. Partage de Volume Industrie / PMR</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '6')" name="6" ng-model="page.currentStats[currentYear][currentMonth]['6'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '6')" name="6" ng-model="page.currentStats[currentYear][currentMonth]['6'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '6')" name="6" ng-model="page.currentStats[currentYear][currentMonth]['6'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '6', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['6'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '6', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>7. Participation Staff Coaching</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '7')" name="7" ng-model="page.currentStats[currentYear][currentMonth]['7'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '7')" name="7" ng-model="page.currentStats[currentYear][currentMonth]['7'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '7')" name="7" ng-model="page.currentStats[currentYear][currentMonth]['7'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '7', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['7'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '7', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>8. Succès Staff Coaching</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '8')" name="8" ng-model="page.currentStats[currentYear][currentMonth]['8'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '8')" name="8" ng-model="page.currentStats[currentYear][currentMonth]['8'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '8')" name="8" ng-model="page.currentStats[currentYear][currentMonth]['8'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '8', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['8'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '8', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>9. Participation Education</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '9')" name="9" ng-model="page.currentStats[currentYear][currentMonth]['9'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '9')" name="9" ng-model="page.currentStats[currentYear][currentMonth]['9'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '9')" name="9" ng-model="page.currentStats[currentYear][currentMonth]['9'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '9', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['9'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '9', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>10. Succès Mistery Shopper</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '10')" name="10" ng-model="page.currentStats[currentYear][currentMonth]['10'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '10')" name="10" ng-model="page.currentStats[currentYear][currentMonth]['10'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '10')" name="10" ng-model="page.currentStats[currentYear][currentMonth]['10'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '10', visit)"></i>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['10'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '10', visit)"></i>
                    </td>
                </tr>
                <tr>
                    <td>11. Succès Education</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '11')" name="11" ng-model="page.currentStats[currentYear][currentMonth]['11'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '11')" name="11" ng-model="page.currentStats[currentYear][currentMonth]['11'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '11')" name="11" ng-model="page.currentStats[currentYear][currentMonth]['11'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '11', visit)"></i>
                        <i  ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['11'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '11', visit)"></i>
                    </td>
                </tr>
                <!--<tr ng-if="question_number != 11">
                    <td>12. Session formation caissiers effectuèe</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '12')" name="12" ng-model="page.currentStats[currentYear][currentMonth]['12'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '12')" name="12" ng-model="page.currentStats[currentYear][currentMonth]['12'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '12')" name="12" ng-model="page.currentStats[currentYear][currentMonth]['12'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '12', visit)"></i>
                        <i  ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['12'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '12', visit)"></i>
                    </td>
                </tr>
                <tr ng-if="question_number != 11">
                    <td>13. Succès visiteur mystère</td>
                    <td>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '13')" name="13" ng-model="page.currentStats[currentYear][currentMonth]['13'][visitAnswer]" ng-value="'yes'">Oui</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '13')" name="13" ng-model="page.currentStats[currentYear][currentMonth]['13'][visitAnswer]" ng-value="'no'">Non</ion-radio>
                        <ion-radio ng-disabled="disabled" ng-click="check(visit, '13')" name="13" ng-model="page.currentStats[currentYear][currentMonth]['13'][visitAnswer]" ng-value="'na'">N/A</ion-radio>
                        <i ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'][visitImage]}" class="icon ion-ios-camera camera-icon" ng-click="imageModal('true', '13', visit)"></i>
                        <i  ng-disabled="disabled" ng-class="{positive: page.currentStats[currentYear][currentMonth]['13'][visitComment]}" class="icon ion-edit pencil-icon" ng-click="commentModal('true', '13', visit)"></i>
                    </td>
                </tr>-->
                <tr>
                    <td><h3 class="questions-total">Total : {{ points }}</h3></td>
                </tr>
                </tbody>
            </table>
            <ion-scroll>
    </ion-content>
</ion-view>
