/* Empty. Add your own CSS if you like */

/* IPAD - START*/
	.ipad{
		width: 900px;
	}
/* IPAD - END*/

/* APP - START */
	/* CONFIG - START */
			div.config-spinner {
			  margin: auto;
			  position: absolute;
			  top: 0; left: 0; bottom: 0; right: 0;
			  height: 85px;
			  text-align: center;
			}
			.config-spinner svg {
			  width: 19% !important;
			  height: 85px !important;
			}

			.pane, .view{
				background-color: #1A1A1A;
				background: #1A1A1A;
			}

			.backgroundImage{
				background-image: url(../img/bg-l.png);
				background-size: contain;
				background-position: 50% 50%;
			}
			.data-collection { background: #262626; }
			#DATACOLLECTION .input-label { width: auto; }
			#DATACOLLECTION .item { background: inherit; border: none; }
			#DATACOLLECTION .input-label { color: #b8b8b8; max-width: 100% !important; text-align: left;}
			
			#DATACOLLECTION .item-input input, .item-input textarea { border: 1px solid #ddd; display: block !important;}
			#DATACOLLECTION .item-input label { display: block !important;}
			#DATACOLLECTION .panel-title { text-align: left; }
			#DATACOLLECTION .data-collection { background: #262626; }

			#DATACOLLECTION .panel { background: #262626 !important; margin: 10px 0 !important;}
			#DATACOLLECTION .panel-default > .panel-heading { color: #fff !important; background: #262626 !important; }
			#DATACOLLECTION .panel-default>.panel-heading+.panel-collapse>.panel-body { border: none !important; }
			#DATACOLLECTION .panel-group .panel-heading+.panel-collapse>.panel-body { border: none !important; }

			#DATACOLLECTION input[type="text"], #DATACOLLECTION input[type="date"], 
			#DATACOLLECTION input[type="email"], #DATACOLLECTION input[type="number"] {font-weight: normal; color: #fff;}

			#DATACOLLECTION a.accordion-toggle {
				font-size: 20px;
			    font-weight: bold;
			    text-transform: uppercase;
			    text-decoration: none;
			}


	/* CONFIG - END */

	/* LOGIN - START */
		.login-input{
			margin: 20px 0;
		}

		.loginbut {
		    border-color: transparent !important;
		    color: #fff !important;
		    background-image: url(../img/login.png);
		    background-repeat: no-repeat;
		    background-color: transparent !important;
		    background-position: 50% 50%;
		    margin: 0 auto;
		    width: 170px !important;
		    height: 50px;
		}

		#login-logo{
			width: 260px;
		}

		#banerright{
			width: initial;
			position: absolute;
			right: 0;			
		}

		#banerleft{
			width: initial;
			position: absolute;
			left: 0;			
		}

		.login-input-box{
		    margin: auto;
		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 200px;
		    right: 0;
		    height: 370px;	
		    text-align: center;	
		}

		.login-version{
			color: #38538E;
			position: fixed;
			bottom: 15px;
			left: 20px;
			font-size: 14px;
			margin: 0;			
		}

		.popup{
			background-color: #333 !important;
			color: #fff;
			text-align: center;
			font-size: 15px;			
		}

		.popup-title{
			color: #fff;
		}
	/* LOGIN - END */

	/* LAYOUT - START */
		.popup-title {
		    font-size: 20px;
		    font-weight: 100;
		}	

		.layout-name{
			padding: 6px;
			font-size: 17px;
			position: absolute;
			right: 10px;			
		}

		.layout-version{
		    padding: 6px;
		    font-size: 17px;			
		}

		.ion-wifi{
    		padding: 6px;
    		font-size: 17px;			
		}

		
	/* LAYOUT - END */

	/* STORES - START */
		.stores-box{
		    position: absolute;
		    width: 600px;
		    height: 660px;
		    margin: auto;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		}

		.signout{
			border: none;
		    color: #fff ;
		    font-size: 22px !important;
		    font-weight: 100;
		    text-transform: uppercase;
		    background: Transparent;
		    opacity: 1;	
		    position: absolute;
		    right: 5px;  	
		}

		.crumb-button{
		    border: 0;
		    background: transparent;
		    color: #fff;
		    position: relative;
		    font-size: 16px !important;
		    max-width: 200px;
		    text-overflow: ellipsis;
            
            border-right: 1px solid #fff;
            white-space: nowrap;
            overflow: hidden;

		}
		

		.crumb-button:after{
		    content: '';
		    position: absolute;
		    left: 100%;
		    border-left: 1px solid #fff;
		    height: 80%;
		    top: 10%;
		}
		.crumb-button:last-of-type:after{
		    content: none;
		}
		.crumb-button.disabled{
			color: #CCC;
		}

		.stores-box h1{
		    font-size: 55px;
		    line-height: normal;
		    margin: 25px 0;
		    padding: 0 5px;
		    display: inline-block;
		    font-weight: 100;
		    color: #fff;
		}

		.stores-container{
			height: 450px;
		}

		.stores-search{
			position: relative;
		    border-bottom: 1px solid #fff;
		    padding-bottom: 20px;			
		}	

		.stores-search .store-input {
		    width: 100%;
		    background-color: transparent;
		    border-bottom: 1px solid #fff;
		    line-height: 28px;
		    padding: 23px;
		    padding-top: 23px;
		    font-size: 25px;
		    color: #fff;
		    border-radius: 0;
		    border: 1px solid #fff;
		}


		.stores-inner-container{
			width: 560px;
			float: left;
		}

		.list-store-button{
			float: right;
		    font-size: 18px;			
		}



        .list .item.item-accordion {
            line-height: 38px;
            padding-top: 0;
            padding-bottom: 0;
            transition: 0.09s all linear;
        }
        .list .item.item-accordion.ng-hide {
            line-height: 0px;
        }
        .list .item.item-accordion.ng-hide-add,
        .list .item.item-accordion.ng-hide-remove {
            display: block !important;
        }

		.list-store-name{
		    float: left;
		    color: #fff;
		    font-size: 18px;
		    white-space: normal;
		    margin-top: 13px;
		    max-width: 470px;
		}

		.stores-inner-container ion-list .store-item{
			background: transparent;
			border:none;
		    padding: 15px 10px;
		    border-bottom: 1px solid #fff;		
		}

		.stores-container .stores-scroll{
		    height: calc(100% - 77px);
		    margin: 15px 0;		
		}

		.stores-container .stores-scroll .scroll-bar {
		    width: 7px;
		    right: 7px;
		}	
		.stores-container .stores-scroll .scroll-bar .scroll-bar-indicator {
		    background-color: #38538E;
		    opacity: 1 ;
		    border-radius: 0;
		}	
	/* STORES - END */

	/* STORES DETAILS - START */
		.storeWord{
		    font-size: 20px;
		    text-align: left;	
		    color: #fff;	
		    margin-top: 0;
		    margin: 10px;
		    margin-top: 5px;
		    font-weight: 100;
		}

		.storeDetailsTitle{
			padding: 15px 0;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
		    text-align: left;	
		    margin: 0 10px;	
		}

		.noAvailableMessage{
			color: #fff;
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			text-align: center;
			font-size: 30px;
			height: 45px;
			font-weight: 100;
		}

		.storeDetailsTitle h1,.storeDetailsTitle h3{
		    color: #fff;
		    font-weight: 100;	
		    float: left;	
		    margin: 0;	
		}

		.storeDetailsTitle h1{
			font-size: 24px;
		    max-width: 80%;		
		    vertical-align: middle;	
		}

		.storeDetailsTitle h3{
		    padding-top: 20px;
		    padding-left: 20px;
		    color: #fff;		
		}

		.storeDescriptiveTitle{
		    color: #fff;
		    margin: 0;
		    font-weight: 100;
		    padding-bottom: 10px;
		    padding-top: 15px;
		    border-bottom: 1px solid #fff;
		    margin: 0 10px;	
		    text-align: center;	
		}	

		div.row.months .col:first-of-type{
			text-align: left;
		}
		div.row.months .col:first-of-type span {
		    text-align: center;
		    width: 80%;
		}	
		div.row.months .col:last-of-type{
			text-align: right;
		}
		div.row.months .col:last-of-type span {
		    text-align: center;
		    width: 80%;
		}
		div.row.months .col:first-of-type:after{
		    content: '';
		    position: absolute;
		    top: 50%;
		    border-top: 1px solid #fff;
		    width: 35%;
		    left: 80%;
		}
		div.row.months .col:last-of-type:before{
		    content: '';
		    position: absolute;
		    top: 50%;
		    border-top: 1px solid #fff;
		    width: 30%;
		    right: 80%;
		}
		div.row.months .col:last-of-type:after{
		    content: none;
		}

		div.row.months{
		    padding: 0 10px;
		    padding-top: 20px;
		}

		div.row.months .col{
			padding: 5px 0;
			text-align: center;			
			position: relative;			
		}
		div.row.months .col:after{
		    content: '';
		    position: absolute;
		    top: 50%;
		    border-top: 1px solid #fff;
		    width: 30%;
		    left: 85%;
		}

		div.row.months .col span{
		    padding: 5px;
		    width: 70%;
		    display: inline-block;
		    border:1px solid #fff;
		    color: #fff;
		}

		div.row.months .col.current span{
		    border: 1px solid #2B4273 !important;
		    background-color: #38538E !important;
		    color: #fff;
		}

		div.row.months .col.behind span{
			border: 1px solid #ef0d0d;
			background-color: #f53838;
			color: #fff;
		}

		.your-score-shape {
		    background-color: #38538E;
		    width: 20px;
		    margin-right: 10px;
		}	

		.world-score-shape {
		    background-color: #2B4273;
		    width: 20px;
		    margin-right: 10px;
		    margin-left: 10px;
		}	

		.bar-legend{
			color: #fff;
			padding-top: 40px;
		}

		.outlet-content .scroll{
			height: 100%;
		}

		.ranking-box{
			float: left;
			width: 100%;
		    padding: 25px 0;
		    padding-top: 120px;
		    text-align: center;
		}

		.ranking-box h1, .ranking-box h3, .ranking-box h6{
			color: #fff;	
		    padding-left: 10px;		
		}

		.ranking-box h1{
	    	font-size: 70px;
	    	margin: 0;
		    display: inline-block;		
		}

		.ranking-box h3{
		    font-size: 30px;
		    margin: 0;
		    margin-left: 5px;	
		    display: inline-block;	
		}

		.ranking-box h6{
		    font-size: 17px;
		    vertical-align: top;
		    display: inline-block;		
		}	

		.points-box{
		    float: left;
		    width: 100%;
		    text-align: left;
		    padding: 10px;		
		}	

		.total-points{
		    color: #fff;
		    position: relative;
		    font-size: 20px;
		    margin-top: 10px;
		    margin-bottom: 25px;		
		}

		.points-redeemed{
		    color: #fff;
		    position: relative;
		    font-size: 20px;
		    margin-top: 10px;
		    margin-bottom: 25px;		
		}

		.points-redeemed span, .total-points span ,.points-available span{
			position: absolute;
			right: 0;		
		}

		.points-available{
		    color: #fff;
		    position: relative;
		    font-size: 20px;
		    margin-top: 10px;
		    margin-bottom: 25px;
		    padding-top: 10px;
		    border-top: 1px solid #fff;		
		}

		.past-results-button.activated{
			color: #fff;
			background-color: #2B4273;
		}

		.past-results-button{
		    font-size: 23px;
		    border-radius: 0;
		    color: #38538E;
		    background-color: transparent;
		    border: 1px solid #2B4273;
		    position: relative;
		    padding: 5px 10px;
		    min-width: 155px;		
		}

		.action-button.activated{
			background-color: #2B4273;
		}

		.action-button{
		    color: #fff;
		    border: 1px solid #2B4273;
		    margin-left: -5px;
		    background-color: #38538E;
		    font-size: 23px;
		    padding: 5px 15px;
		    min-width: 155px;
		    text-transform: capitalize;		
		}

		.buttons-box{
		    float: left;
		    width: 100%;
		    text-align: right;
		    margin-top: 20px;
		    padding-right: 10px;		
		}
	/* STORES DETAILS - END */

	/* PAST RESULTS - START */
		.stats-table, .questions-table{
			width: calc(100% - 30px);
		    margin: 0 auto;
		}
		.questions-table{
			margin-top: 15px;
			background: #fff;
		}
		.stats-table{
			margin-top: 60px;
		}


		table.stats-table thead tr td {
		    border: 1px solid #fff;
		    padding: 12.5px 0;
		    color: #fff;	
		    text-align: center;   
		}	

		table.stats-table tbody td {
		    border: 1px solid #fff;
		    padding: 5px;
		    vertical-align: middle;
		    color: #fff;	
		    text-align: center;	    	
		}	

		table.stats-table tbody tr:nth-child(-n+13) td {
		    border-bottom:0;	
		    border-top: 0;	    	
		}	

		table.stats-table tbody tr:nth-child(n+13) td {
		    padding-top: 12.5px;	    	
		    padding-bottom: 12.5px;	    	
		}

		table.stats-table tbody td:first-child {
		    text-align: left;
		    padding-right: 10px; 
		}	

		.border-bottom td{
			border-bottom: 1px solid #fff;
		}
	/* PAST RESULTS - END */

	/* HOME - START */
		.home-container	{
		    width: calc(100% - 30px);
		    position: absolute;
		    top: 100px;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    height: 240px;
		    text-align: center;		
		}
		.home-container .block	{
		    font-size: 30px;
		    background-color: #38538E;
		    color: #fff;
		    padding: 80px;
		    display: inline-block;
		    margin: 10px;
		    width: 450px;
		    border-radius: 4px;
		}

		.home-container .sml-block{
			width: 900px;
			color: #fff;
			font-size: 20px;
			padding: 20px;
			display: inline-block;
			margin: 5px;
			text-align: center;
		    border-radius: 4px;	
		    background-color: #38538E;		
		}

        .home-container .btn-royal { background: #6b46e5;}

		.storeTitle{
			padding: 15px 0;
			border-bottom: 1px solid #fff;
		    text-align: left;	
		    margin: 0 10px;	
		}

		.storeTitle h1,.storeTitle h3{
		    color: #fff;
		    font-weight: 100;	
		    float: left;	
		    margin: 0;	
		}

		.storeTitle h1{
			font-size: 45px;
		}

		.storeTitle h3{
		    padding-top: 20px;
		    padding-left: 20px;
		    color: #fff;		
		}		
	/* HOME - END */

	/* QUESTIONS - START */
		.shadow{
			background-color: rgba(0, 0, 0, 0.6);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 999;
		}


		.ionic-modal {
			position: absolute;
			z-index: 9999;
			margin: auto;
			height: 500px;
			width: 80%;
			left: 10%;
			top: calc(50% - 250px);
			background-color: #fff;
			padding: 10px;
		}

		.image_blocks{
			display: inline-block;
			width: 100px;
			height: 100px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			margin: 5px;
			border: 1px solid #ddd;
		}

	    .questions-table{
			width: calc(100% - 30px);
		    margin: 0 auto;
		    margin-top: 15px;
		}

		.item.activated{
			background-color: initial !important;
		}

		table.questions-table thead tr td {
		    border: 1px solid #555;
		    padding: 12.5px 0;
		    color: #333;	
		    text-align: center;
		    background: #fff;   
		}	

		table.questions-table tbody td {
		    border: 1px solid #555;
		    padding: 5px;
		    vertical-align: middle;
		    color: #333;
		    background-color: #fff;		    	
		}	

		table.questions-table tbody tr:nth-child(even) td {
		    background-color: #CCC;
		}

		table.questions-table tbody tr:nth-child(-n+13) td {
		    border-bottom:0;	
		    border-top: 0;	    	
		}	

		table.questions-table tbody tr:last-child td {
		    border:0;	    	
		}	

		table.questions-table tbody tr:nth-child(13) td {
		    border-bottom:1px solid #555;   	
		}

		table.questions-table tbody tr:nth-child(n+13) td {
		    padding-top: 12.5px;	    	
		    padding-bottom: 12.5px;	    	
		}

		table.questions-table tbody td:first-child {
		    text-align: left;
		    font-size: 20px;
		    padding-right: 10px; 
		}	

		.questions-scroll{
		    height: 560px;
		    margin: 15px 0;			
		}

		.questions-total{
			color: #333;
			font-weight: 100;
			margin:0;
		}

		.camera-icon, .pencil-icon{
			float: left;
			width: 20%;
			font-size: 35px;
			text-align: center;
			padding-top: 20px;
		}

		#main_image, #main_image2, #main_comment, #main_comment2{
			width: 90%;
			height: 400px;
			margin: 20px auto;
			border: 1px solid #ddd;
			padding: 10px;
			background-size:contain;
			background-position:50% 50%;	
			background-repeat: no-repeat;		
		}

		.button-modal{
			max-width: 150px;
			margin: 0;
			position: absolute;			
		}
		.button-modal.top-2{
			top: 0;
			right: 170px;			
		}		
		.button-modal.top{
			top: 0;
			right: 10px;			
		}
		.button-modal.bottom{
			bottom: 0;
			right: 10px;			
		}		

		.item-radio{
			float: left;
			width: 20%;
			border: 0;
			background: transparent;
		}

		.item-radio input:checked + .radio-content .item-content{
			background-color: transparent;
		}
		.item-radio .radio-icon{
		    visibility: visible;
		    padding: 0;	
		    font-size: 20px;
		    position: relative;
		}
		.item-radio input:checked + .radio-content .radio-icon:before{
			background: #38538E;
			color: #fff;
		}
		.item-radio[disabled="disabled"] input:checked + .radio-content .radio-icon:before{
			background: #333;
		}
		.item-radio .item-content{
			padding: 0;
			background: transparent;
		}
		.ion-checkmark:before {
		    content: "";
		    color: transparent;
		    border-radius: 50%;
		    width: 30px;
		    height: 30px;
		    padding-top: 5px;
		    text-align: center;
		    vertical-align: middle;
		    border: 1px solid #2B4273;
		}

		.radio-content {
		    text-align: center;
		    padding: 5px;
		}

		.item-radio[disabled="disabled"] .radio-icon:before{
		    border: 1px solid #333;
		}		
	/* QUESTIOINS - END */

	/* DATA-COLLECTION - START */
		uib-accordion div.panel-group {
		}
		.data_collection .storeNAME {
			max-width: 350px;
		}
		
		#data-collection-accordion {
			top: -150px;
			overflow: scroll;
		}

		#data-collection-accordion .section {
			border: 1px solid #fff;
			padding: 5px 10px 0px 5px;
			margin: 15px 0px;
		}
		#data-collection-accordion .section .heading {
			color: #fff;
			font-size: 20px;
			text-align: left;
			font-weight: bold;
		}
	/* DATA-COLLECTION - START */

	/* SUMMARY - START */
	    .summary-table{
			width: calc(100% - 30px);
		    margin: 0 auto;
		    margin-top: 15px;
		    background-color: #fff
		}

		table.summary-table .item-radio{
			width: 33%;
		}
		table.summary-table .item-radio:nth-child(3){
			width: 33%;
		}

		table.summary-table  .camera-icon, table.summary-table  .pencil-icon{
			float: left;
			width: 50%;
			font-size: 35px;
			text-align: center;
			padding-top: 20px;
		}

		table.summary-table thead tr td {
		    border: 1px solid #555;
		    padding: 12.5px 0;
		    color: #333;	
		    text-align: center;   
		}	

		table.summary-table tbody td {
		    border: 1px solid #555;
		    padding: 5px;
		    vertical-align: middle;
		    color: #333;		    	
		}	

		table.summary-table tbody tr:nth-child(even) td {
		    background-color: #CCC;
		}

		table.summary-table tbody tr:nth-child(-n+13) td {
		    border-bottom:0;	
		    border-top: 0;		  
		    text-align: center;     	
		}		

		table.summary-table tbody tr:nth-child(13) td {
		    border-bottom:1px solid #555;   	
		}

		table.summary-table tbody tr:nth-child(n+13) td {
		    padding-top: 12.5px;	    	
		    padding-bottom: 12.5px; 	
		}

		table.summary-table tbody td:first-child {
		    text-align: left !important;
		    font-size: 20px;
		    padding-right: 10px; 
		}	

		.summary-scroll{
		    height: 560px;
		    margin: 15px 0;			
		}

		.summary-total{
			color: #333;
			font-weight: 100;
			margin:0;
		}
	/* SUMMARY - END */

	/* IMAGE AND COMMENT POPUP - START */

	/* IMAGE AND COMMENT POPUP - END */

	@media (max-width: 1023px) {
		/* STORES DETAILS - START */
			.ranking-box{
				width: 50%;
				padding-top: 70px;
			}

			.list-store-name{
				font-size: 16px;
			}

			.points-box{
				width: 50%;
			}

			.buttons-box{
				float: right;
				width: 50%;
				text-align: center;
				margin-top: 0;
				padding-right: initial;
				padding-top: 80px;		
			}

			.bar-legend{
				padding-top: 25px;
			}

			.backgroundImage{
				background-image: url(../img/bg-p.png);
			}
		/* STORES DETAILS - END */

		/* HOME - START */
			.home-container{
				height: 480px;
			}

		.home-container .sml-block{
			width: 460px;	
		}

		/* HOME - END */

		/* PAST RESULTS - START */
			.stats-table{
				width: calc(100% - 30px);
			    position: absolute;
			    top: 100px;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
			}	
		/* PAST RESULTS - END */

		/* QUESTIONS - START */
			.questions-scroll{
			    height: 820px;		
			}		

			table.questions-table tbody td:first-child, table.summary-table  tbody td:first-child{
			    font-size: 18px 
			}							

			#main_image, #main_image2, #main_comment, #main_comment2{
				height: 380px;
				margin: 10px auto;
				margin-top: 30px;
			}
		/* QUESTIONS - END */

		/* SUMMARY - START */
			table.summary-table .item-radio{
				width: 50%;
			}
			table.summary-table .item-radio:nth-child(3){
				width: 100%;
			}
		/* SUMMARY - END */
	}
/* APP - END */



