<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />

    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link rel="stylesheet" href="lib/ionic/css/ionic.css">
  <link rel="stylesheet" href="css/style.css">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>

    <!-- CHART -->
    <script src="lib/Chartjs/Chart.min.js"></script>
    <script src="lib/angular-chart.js/angular-chart.js"></script>  

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="lib/angular-cookie-master/angular-cookie.min.js"></script>
    <script src="lib/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="lib/ui-bootstrap-tpls-1.3.1.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/services/dataService.js"></script>
    <script src="js/config.lazyload.js"></script>
    <script src="js/config-router.js"></script>
    <script src="js/controllers/allCtrl.js"></script>
  </head>
  <body ng-app="starter" style="background-color:#1A1A1A;" id="reunion_app" class="fullscreen platform-android platform-ios platform-cordova platform-webview">

    <!-- MAIN PART OP APP -->
      <!-- CONTENT AREA -->
      <ion-nav-view id="app" style="background-color:#1A1A1A;"  animation="slide-left-right" ></ion-nav-view>  
      <!-- PAGES -->

        <!-- IMAGE MODAL -->
        <script id="imageModal.html" type="text/ng-template">
          <ion-modal-view>
           <ion-content scroll="false">
              <div style="padding:10px;">
                <h1 >Images : </h1>
                <button class="button-modal top button button-block button-positive" ng-click="close_modal('images')" >Back</button>
                <div class="image_blocks" ng-if="competitor_image_store[modals.current_competitor_id] && competitor_image_store[modals.current_competitor_id] != ''" ng-repeat="(key, val) in competitor_image_store[modals.current_competitor_id]" style="background-image:url({{ val }})"></div> 
                <div class="image_blocks" style="background-image:url('img/placeholder.png');" ng-if="competitor_image_store[modals.current_competitor_id] && competitor_image_store[modals.current_competitor_id] != ''"  ng-click="takePicture()"></div>                       
                <div id='main_image2' ng-click="takePicture()" style="background-image:url('img/placeholder.png');" ng-hide="competitor_image_store[modals.current_competitor_id] && competitor_image_store[modals.current_competitor_id] != ''"></div>                 
                <button ng-if="competitor_values[modals.current_competitor_id].images != competitor_posting_values[modals.current_competitor_id].images" class="button-modal top-2 button button-block button-positive" ng-click="save_data('images', competitor_values[modals.current_competitor_id].images)">Save</button>
              </div>
            </ion-content>
          </ion-modal-view>
        </script>

        <!-- COMMENT MODAL -->
        <script id="noteModal.html" type="text/ng-template">
          <ion-modal-view>
            <ion-content scroll="false">
              <div style="padding:10px;">
                <h1 >Notes : </h1>
                <button class="button-modal top button button-block button-positive" ng-click="close_modal('comment')" >Back</button>
                <button ng-if="competitor_values[modals.current_competitor_id].comment != competitor_posting_values[modals.current_competitor_id].comment" class="button-modal top-2 button button-block button-positive" ng-click="save_data('comment', competitor_values[modals.current_competitor_id].comment)">Save</button>                    
                <textarea id="main_comment2" placeholder="Write comment here" ng-model="competitor_values[modals.current_competitor_id].comment"></textarea>
              </div>
            </ion-content>
          </ion-modal-view>
        </script>


  </body>
</html>
